.amend{
    float: left;
    width: 30%;
    height: 48%;
    background-color: rgb(153,201,239);
    text-align: center;
    font-size: 18px;
    line-height: 38px;
    display: none;
    position: absolute;
    left: 35%;
    top: 18%;
}